<!DOCTYPE html>
<head>

<link rel="stylesheet"  href="/css/style.css" >
<title>Help</title>
<link rel="icon" href="/images/weather.png" >
</head>

<body>
    <div class="main-content">
{{>header}}
<p>{{helpText}}</p>
</div>
{{>footer}}

</body>

</html>